---
layout: custom
---

<div class="site-wrap post">
    
    <section class="container">
            <div class="row">
                <!-- left two-thirds block-->
                <div class="left two-thirds col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="info-block">
                        <div class="row">
                            <div class="col">
                               <h2>{{ page.title }}</h2> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="author">Author: {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{ page.date | date: '%B %d, %Y' }}</p>
                            </div>
                        </div>
                    <div>
                        {{content}}
                    </div>
                    </div>
                </div>
                <!-- end left two-thirds block-->
                
                <!-- right one-third block-->
                <div class="right one-third col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar col-sm-12 col-xs-12">   
                            <div class="info-block">
                                <div class="row center-xs">
                                    <div class="col"><h2>Recent Posts</h2></div>
                                </div>
                                {% for post in site.posts limit:4 %}
                                <div class="row start-xs info-block-row">
                                    <div class="col">
                                         <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                                     </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div> 
                </div>
                <!-- end right one-third block-->
            </div>
        </section>
    </div>
