<footer>
  
   <div class="container footer-container">
        <div class="row center-xs footer-wrap"> 
           <div class="col-xs-12">
            <h3>Donate to the project:</h3> 
            <p>XMR: 44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A </p>
            <p>OpenAlias:  donate.getmonero.org</p> 
           </div>
           </div>
           <div class="row center-xs">
    <p>{%t global.no-js%}</p>
</div> 
        <div class="row center-xs">
           <div class="col-xs-12">
            <p>
                <a class="white" href="https://github.com/monero-project/kovri-site" target="_blank" rel="noreferrer noopener">{% t global.site-source %}</a> |
                <a class="white" href="legal.html">{% t titles.legal %}</a> |
                <a href="acknowledgements.html" class="white">{% t titles.acknowledgements %}</a>
            </p>
            </div>
        </div> 
         <div class="row center-xs">
              <div class="col-xs-12">
               <p>Copyright &copy; 2017, The Kovri I2P Router Project </p>
             </div>
         </div>
   </div>
    
</footer>
